<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
</head>
<div class="header">
  <h1>Tytuł: {{{title}}}</h1>
  <h2>Witaj, {{{username}}}!</h2>
</div>

<p>Aby dokończyć resetowanie hasła, prosimy o kliknięcie w poniższy link i wpisanie nowego hasła:</p>
<p><a href="{{url}}">{{url}}</a></p>
<p>Jeśli nie wysyłałeś prośby o resetowanie hasła, prosimy o zignorowanie tej wiadomości.</p>

<div class="footer">
  <hr/>
  <p>To jest automatyczna wiadomość, prosimy na nią nie odpowiadać.</p>
  <p>W razie pytań i wątpliwości prosimy o kontakt na adres <a href="mailto:info@realty-zone.com">info@realty-zone.com</a>.</p>
  <p>Pozdrawiamy,<br>Zespół Realty Zone</p>
</div>
